$color-base: #c0392b;
$color-base-lighter: tint($color-base, 95%);
$color-base-light: tint($color-base, 70%);
$color-base-semi-light: tint($color-base, 70%);
$color-base-dark: shade($color-base, 10%);
$color-base-darker: shade($color-base, 30%);
