* {
	@include box-sizing(border-box);
}

body {
	 background-color: $color-base;
	 color: $color-base-light;
	 line-height: 1.5;
	 font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-display;
	text-transform: uppercase;
	text-align: center;	
	font-weight: bold;
	font-size: $font-size-large;
	letter-spacing: .1em;
	color: $color-base-darker;
}

p {
	margin: $vertical-spacing 0;
}

a {
	color: $color-base-lighter;
	text-decoration: none;
	border-bottom: 1px solid;
	&:hover {
		background-color: $color-base-lighter;
		color: $color-base-dark;
	}
}
strong {
	display: inline-block;
	background-color: $color-base;
	padding: 0 .4em;
}
