html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Chunk Five';
  src: url("../fonts/chunkfive-webfont.eot");
  src: url("../fonts/chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chunkfive-webfont.woff") format("woff"), url("../fonts/chunkfive-webfont.ttf") format("truetype"), url("../fonts/chunkfive-webfont.svg#chunkfiveroman") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use this mixin to reset your grid by example for your mobile grid */
/* The clearfix mixin is necessary for the floats */
@media only screen and (min-width: 590px) {
  .l-full {
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 590px) {
  .l-two-third {
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 590px) {
  .l-half {
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 590px) {
  .l-one-third {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

.l-first {
  clear: left; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #c0392b;
  color: #ecc3bf;
  line-height: 1.5;
  font-family: Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Chunk Five", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: .1em;
  color: #86271e; }

p {
  margin: 1.25em 0; }

a {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #fbf5f4;
  text-decoration: none;
  border-bottom: 1px solid; }
  a:hover {
    background-color: #fbf5f4;
    color: #ac3326; }

strong {
  display: inline-block;
  color: #fbf5f4; }

.container {
  *zoom: 1;
  max-width: 75em;
  margin: auto;
  padding: 2.5em; }
  .container:before, .container:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  .container:after {
    clear: both; }

.block-why .container {
  padding-bottom: 0; }

@media only screen and (min-width: 960px) {
  .block-who {
    float: left;
    width: 97.91667%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; } }

.block-whenwhere {
  background-color: #ac3326; }

.block-tipstouch {
  background-color: #ecc3bf;
  color: #86271e; }
  .block-tipstouch a {
    color: #ac3326; }
    .block-tipstouch a:hover {
      -webkit-transition-property: background-color;
      -moz-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
  .block-tipstouch input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 1em 0.5em;
    float: left;
    margin-bottom: 1.25em;
    font-size: 16px;
    color: #86271e; }
    .block-tipstouch input:focus {
      outline: none; }
  .block-tipstouch input[type="email"] {
    width: 100%;
    margin-bottom: 0.625em;
    border: 1px solid #ac3326;
    background-color: transparent; }
  .block-tipstouch input[type="submit"] {
    width: 100%;
    border: none;
    background-color: #c0392b;
    color: #fbf5f4;
    cursor: pointer; }
    .block-tipstouch input[type="submit"]:hover {
      -webkit-transition-property: background-color;
      -moz-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      background-color: #86271e; }
  .block-tipstouch .twitter {
    clear: left; }
  @media only screen and (min-width: 767px) {
    .block-tipstouch input[type="email"] {
      width: 65%;
      margin-right: 5%;
      margin-bottom: 1.25em; }
    .block-tipstouch input[type="submit"] {
      width: 30%; } }

.header-main {
  padding-top: 3.75em;
  border-bottom: 2px solid #ecc3bf; }
  .header-main .logo {
    position: relative;
    bottom: -2px;
    display: block;
    margin: 0 auto;
    width: 70%; }
  @media only screen and (min-width: 767px) {
    .header-main {
      border-bottom: 3px solid #ecc3bf; }
      .header-main .logo {
        bottom: -3px;
        width: 60%; } }
  @media only screen and (min-width: 960px) {
    .header-main .logo {
      width: 50%; } }

h1 {
  position: relative;
  top: -32px;
  font-size: 32px;
  color: #86271e; }

.intro {
  margin-top: 0;
  margin-bottom: 0.625em;
  line-height: 1.4;
  letter-spacing: 2px;
  font-size: 26px;
  color: #fbf5f4;
  text-align: center; }

.traveler {
  padding-top: 1.25em; }
  .traveler img {
    width: 100%;
    border: 1.5em solid #ac3326; }
  @media only screen and (min-width: 590px) and (max-width: 960px) {
    .traveler {
      float: left;
      width: 45.83333%;
      margin-left: 2.08333%;
      margin-right: 2.08333%; }
      .traveler:nth-child(2n+2) {
        clear: left; } }
  @media only screen and (min-width: 960px) {
    .traveler {
      float: left;
      width: 22.91667%;
      margin-left: 1.04167%;
      margin-right: 1.04167%; } }
