/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Chunk Five';
  src: url("../fonts/chunkfive-webfont.eot");
  src: url("../fonts/chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chunkfive-webfont.woff") format("woff"), url("../fonts/chunkfive-webfont.ttf") format("truetype"), url("../fonts/chunkfive-webfont.svg#chunkfiveroman") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use this mixin to reset your grid by example for your mobile grid */
/* The clearfix mixin is necessary for the floats */
@media only screen and (min-width: 590px) {
  /* line 64, ../sass/base/_grid.scss */
  .l-full {
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 590px) {
  /* line 67, ../sass/base/_grid.scss */
  .l-two-third {
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 590px) {
  /* line 70, ../sass/base/_grid.scss */
  .l-half {
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 590px) {
  /* line 73, ../sass/base/_grid.scss */
  .l-one-third {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

/* line 78, ../sass/base/_grid.scss */
.l-first {
  clear: left; }

/* line 1, ../sass/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../sass/base/_base.scss */
body {
  background-color: #c0392b;
  color: #ecc3bf;
  line-height: 1.5;
  font-family: Arial, sans-serif; }

/* line 12, ../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Chunk Five", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: .1em;
  color: #86271e; }

/* line 22, ../sass/base/_base.scss */
p {
  margin: 1.25em 0; }

/* line 26, ../sass/base/_base.scss */
a {
  color: #fbf5f4;
  text-decoration: none;
  border-bottom: 1px solid; }
  /* line 30, ../sass/base/_base.scss */
  a:hover {
    background-color: #fbf5f4;
    color: #ac3326; }

/* line 35, ../sass/base/_base.scss */
strong {
  display: inline-block;
  background-color: #c0392b;
  padding: 0 .4em; }

/* line 1, ../sass/module/_container.scss */
.container {
  *zoom: 1;
  max-width: 75em;
  margin: auto;
  padding: 2.5em; }
  /* line 58, ../sass/base/_grid.scss */
  .container:before, .container:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  /* line 59, ../sass/base/_grid.scss */
  .container:after {
    clear: both; }

/* line 2, ../sass/module/_block-why.scss */
.block-why .container {
  padding-bottom: 0; }

/* line 1, ../sass/module/_block-whenwhere.scss */
.block-whenwhere {
  background-color: #ac3326; }

/* line 1, ../sass/module/_block-tipstouch.scss */
.block-tipstouch {
  background-color: #df9c95;
  color: #86271e; }
  /* line 4, ../sass/module/_block-tipstouch.scss */
  .block-tipstouch a {
    color: #ac3326; }

/* line 1, ../sass/module/_header-main.scss */
.header-main {
  padding-top: 3.75em;
  border-bottom: 3px solid #ecc3bf; }
  /* line 4, ../sass/module/_header-main.scss */
  .header-main h1 {
    display: none; }
  /* line 7, ../sass/module/_header-main.scss */
  .header-main img {
    display: block;
    margin: 0 auto;
    width: 590px; }

/* line 1, ../sass/module/_intro.scss */
.intro {
  margin-bottom: 0.625em;
  line-height: 1.4;
  font-size: 26px;
  color: #fbf5f4; }

/* line 1, ../sass/module/_traveler.scss */
.traveler {
  padding-top: 1.25em; }
  /* line 3, ../sass/module/_traveler.scss */
  .traveler img {
    width: 100%;
    border: 1.5em solid #ac3326; }
  @media only screen and (min-width: 590px) {
    /* line 1, ../sass/module/_traveler.scss */
    .traveler {
      float: left;
      width: 45.83333%;
      margin-left: 2.08333%;
      margin-right: 2.08333%; } }
  @media only screen and (min-width: 960px) {
    /* line 1, ../sass/module/_traveler.scss */
    .traveler {
      float: left;
      width: 22.91667%;
      margin-left: 1.04167%;
      margin-right: 1.04167%; } }
