.traveler {
	padding-top: $vertical-spacing;
	img {
		width: 100%;
		border: 1.5em solid $color-base-dark;
	}
	@media only screen and ($media-type: $media-tablet-portrait) and (max-width: $media-desktop) { 
		@include grid(24, 1); 
		&:nth-child(2n+2) {
			clear: left;
		}
	}
	@media only screen and ($media-type: $media-desktop) { 
		@include grid(12, 0.5); 
	}
}
